#tophead {
    background-color: #179bd7;
    width: 100%;
}

#tophead ul {
    list-style: none;
}

.menu li {
    display: inline-block;
}

.colegio p {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.nav-item {
    text-align: center;
}

.contatinho {
    border-radius: 6px;
    background-image: linear-gradient( to right, #179bd7, crimson);
    border: none;
}


/* BOTAO */

.back-to-top {
    background-color: crimson;
    display: block;
    bottom: 30px;
    color: #ffffff;
    display: none;
    float: right;
    line-height: 1.2;
    padding: 1px 10px 4px;
    position: fixed;
    right: 32px;
    text-align: center;
    transition: all 0.5s ease-in-out 0s;
    z-index: 99;
    ;
}