.icon {
    width: 50px;
}

nav .navbar {
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 0;
}

.social {
    list-style: none;
    color: white;
    font-size: 20px;
}


/* pag matricula */

.matric1 {
    background-color: #8B0000;
    width: 100%;
}


/* ANIMAÇÃO */


/* JUMP */

.textanima {
    cursor: default;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    text-align: center;
}

.textanima span {
    position: relative;
    display: inline-block;
    -webkit-animation: bounce 0.3s ease infinite alternate;
    font-size: 60px;
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

.textanima span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
}

.textanima span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
}

.textanima span:nth-child(4) {
    -webkit-animation-delay: 0.3s;
}

.textanima span:nth-child(5) {
    -webkit-animation-delay: 0.4s;
}

.textanima span:nth-child(6) {
    -webkit-animation-delay: 0.5s;
}

.textanima span:nth-child(7) {
    -webkit-animation-delay: 0.6s;
}

.textanima span:nth-child(8) {
    -webkit-animation-delay: 0.2s;
}

.textanima span:nth-child(9) {
    -webkit-animation-delay: 0.3s;
}

.textanima span:nth-child(10) {
    -webkit-animation-delay: 0.4s;
}

.textanima span:nth-child(11) {
    -webkit-animation-delay: 0.5s;
}

.textanima span:nth-child(12) {
    -webkit-animation-delay: 0.6s;
}

.textanima span:nth-child(13) {
    -webkit-animation-delay: 0.7s;
}

.textanima span:nth-child(14) {
    -webkit-animation-delay: 0.8s;
}


/* ANIMATION */

@-webkit-keyframes bounce {
    100% {
        top: -20px;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc, 0 50px 25px rgba(0, 0, 0, 0.2);
    }
}


/* end */