.img-fluid {
    width: 100%;
}

@font-face {
    font-family: 'Nunito';
    src: url(../fonts/Cairo-Light.ttf)
}

.textoSala {
    font-family: 'Nunito', sans-serif;
    color: black;
    font-size: 20px;
    text-align: justify;
}