.img-fluid {
    width: 100%;
}

@font-face {
    font-family: 'Nunito';
    src: url(../fonts/Cairo-Light.ttf)
}

.textoSala {
    font-family: 'Nunito', sans-serif;
    color: black;
    font-size: 20px;
    text-align: justify;
}


/*  botao matricula hover */

.bolinha {
    background-color: #179bd7;
    width: 150px;
}

.bolinha:hover {
    background-color: crimson;
}


/* evento img */